@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input{
  @apply border-2 border-blue-300 rounded-md px-1 outline-none w-full mb-2
}

input:focus{
  @apply border-blue-800 
}

textarea{
  @apply border-2 border-blue-300 rounded-md px-1 outline-none w-full mb-2
}

textarea:focus{
  @apply border-blue-800 
}

h1{
  @apply font-semibold text-xl text-blue-900
}

label{
  @apply font-thin text-sm text-blue-900
}

.btn-primary {
  @apply text-white bg-blue-900 p-1 px-2 rounded-lg 
}

table.basic {
  @apply w-full;
}
table.basic thead tr td{
  @apply bg-blue-100
}
table.basic tr td{
  @apply border border-gray-400 p-1
}
table.basic a{
  @apply bg-blue-900 text-white text-sm py-1 rounded-md px-1 inline-flex gap-1
}
